body {
     font-family: Arial, Helvetica, sans-serif;  
}
main {
    color: rgb(95, 187, 25);
}
h1 {
    color: blue;
}
footer {
    color: rgb(198, 52, 76);
}
h3 {
    color: rgb(255, 0, 0);
}
h4 {
    color: rgb(156, 156, 201);
}
h5 {
    color: rgb(162, 61, 182);
}